---
import Layout from '@/layouts/Layout.astro'
import Logo from '@/components/elements/Logo.astro'
import Hr from '@/components/elements/Hr.astro';
import DiamondList from '@/components/elements/DiamondList.astro'
import Panel from '@/components/containers/Panel.astro';
---

<Layout title="Home">
  <div class="box">
    <Logo />
    <h1>New Portfolio Site</h1>
    <Hr />
    <DiamondList>
      <li>one</li>
      <li>two</li>
      <li>three</li>
    </DiamondList>
    <Hr />
    <ul>
      <li>one</li>
      <li>two</li>
      <li>three</li>
    </ul>
    <Panel color="--fuelYellow">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque iste dolorem explicabo fugiat, commodi soluta, animi voluptatum cupiditate saepe placeat dolorum, aperiam earum nihil. Eaque asperiores totam perspiciatis dicta consequuntur?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque iste dolorem explicabo fugiat, commodi soluta, animi voluptatum cupiditate saepe placeat dolorum, aperiam earum nihil. Eaque asperiores totam perspiciatis dicta consequuntur?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque iste dolorem explicabo fugiat, commodi soluta, animi voluptatum cupiditate saepe placeat dolorum, aperiam earum nihil. Eaque asperiores totam perspiciatis dicta consequuntur?</p>
    </div>
    </Panel>
  </Layout>