---
import Layout from '@/layouts/Layout.astro'
import Logo from '@/components/elements/Logo.astro'
import Hr from '@/components/elements/Hr.astro';
---

<Layout title="Home">
  <div class="box">
    <Logo />
    <h1>New Portfolio Site</h1>
    <Hr />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque iste dolorem explicabo fugiat, commodi soluta, animi voluptatum cupiditate saepe placeat dolorum, aperiam earum nihil. Eaque asperiores totam perspiciatis dicta consequuntur?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque iste dolorem explicabo fugiat, commodi soluta, animi voluptatum cupiditate saepe placeat dolorum, aperiam earum nihil. Eaque asperiores totam perspiciatis dicta consequuntur?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque iste dolorem explicabo fugiat, commodi soluta, animi voluptatum cupiditate saepe placeat dolorum, aperiam earum nihil. Eaque asperiores totam perspiciatis dicta consequuntur?</p>
  </div>
</Layout>