---
import Layout from '@/layouts/Layout.astro'
import Panel from '@/components/containers/Panel.astro';
---

<Layout title="Portfolio">
  <Panel color="--white">
      <h3>Hello, I'm <span>Jeremy Dryden</span> </h3>
      <p>
        I'm a Toronto, Ontario based front-end web developer looking for a good
        fit with a great company. Feel free to reach out using the form below,
        I'd love to talk!
      </p>
  </Panel>
</Layout>