---
import '@/styles/setup.css'
import '@/styles/global.css'

const panelBackground = "/images/backgroundRight.webp";
const headerBackground = "/images/backgroundLeft.webp";

---

<div class="grid_parent">
  <header class="bg-triangles">  
      <h1>Portfolio</h1>
  </header>

  <!-- <div class="panel">
    <div class="content">
      CONTENT
    </div>
    <div class="background">
      BG
    </div>
  </div> -->
  
  <!-- <div class="panel" >panel</div>  -->

    <!-- style={`
    background-image: url('${optimizedPanelImage.src}');
  `} -->
 
</div>

<style>
  .grid_parent {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
  }

  header {
    display: grid;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr; */
    place-items: center;
  }

  .bg-triangles {
    display: grid;
    place-content: center;
    text-align: center;
    min-height: 500px;
    background: var(--yellow-vivid-500);

    position: relative;
    isolation: isolate;
  }

  .bg-triangles::before {
    background-attachment: fixed;
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: 0.071;

    /* background-image: url('${optimizedPanelImage.src}'); */
    background-image: url('/images/backgroundLeft.webp');
    background-size: cover;
    background-position: center;
  }

  .header__content {
    position: relative;
    align-self: center;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }

  .header__content h1 {
    font-size: clamp(1.35rem, 5vw, 1.75rem);
    line-height: 1.3;
  }

  .grid_parent > * {
    /* width: 50%; */
    color: black;
  }

  .grid_parent > header {
    
    /* background-color: var(--yellow-vivid-500); */
  }

  .panel { 
    /* background-image: url('${optimizedPanelImage.src}'); */
    background-color: var(--swamp);
    /* opacity: 0.071; */
  }

  .content {
    /* color: black; */
    z-index: 1;
  }
  .background {
    /* color: black; */
    z-index: -1;
  }
</style>