---
import '@/styles/setup.css'
import '@/styles/global.css'
import { getImage } from "astro:assets";
import panelBackground from "@/images/backgroundRight.png";
import headerBackground from "@/images/backgroundLeft.png";
const optimizedPanelImage = await getImage({ src: panelBackground });
console.log('optimizedPanelImage:', optimizedPanelImage)
const optimizedHeaderImage = await getImage({ src: headerBackground });
---

<div class="grid_parent">
  <header style={`background-image: url('${optimizedHeaderImage.src}');`}>Portfolio</header>
  <div class="panel">
    <div class="content">
      CONTENT
    </div>
    <div class="background">
      BG
    </div>
  </div>
  
  <!-- <div class="panel" >panel</div>  -->

    <!-- style={`
    background-image: url('${optimizedPanelImage.src}');
  `} -->
 
</div>

<style>
  .grid_parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
  }

  .grid_parent > * {
    /* width: 50%; */
    color: black;
  }

  .grid_parent > header {
    
    background-color: var(--yellow-vivid-500);
  }

  .panel { 
    /* background-image: url('${optimizedPanelImage.src}'); */
    background-color: var(--swamp);
    /* opacity: 0.071; */
  }

  .content {
    /* color: black; */
    z-index: 1;
  }
  .background {
    /* color: black; */
    z-index: -1;
  }
</style>