---
const navLinks = [
  {
    href: "/",
    text: "Home",
  },
  {
    href: "/about",
    text: "About",
  },
  {
    href: "/portfolio",
    text: "Portfolio",
  },
  {
    href: "/contact",
    text: "Contact",
  },
]
---
<button class="menu-btn" popovertarget="menu">
  <!-- <img> -->
  <span class="sr-only">Open menu</span>
</button>

<nav popover id="menu">
  <button class="close-btn" popovertarget="menu" popovertargetaction="hide">
    <span aria-hidden="true">❌</span>
    <span class="sr-only">Close menu</span>
  </button>
  <ul>
    {navLinks.map((item)=>(
      <li><a href={item.href}>{item.text}</a></li>
    ))}
  </ul>
</nav>

<style>

</style>